<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GW2 API Explorer</title>
    <link href="static/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/apiexplorer.css" rel="stylesheet">
</head>

<body ng-app="GW2Explorer">

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="static/img/gw2_white.png"> API Explorer</a>

        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/menglewis/gw2-api-explorer">Github</a></li>
                <li><a href="http://wiki.guildwars2.com/wiki/API">API Docs</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="container content" ng-app="GW2Explorer" ng-controller="apiController">
        <select class="form-control" ng-model="selectedResource" ng-options="resource.name for resource in resources">

        </select>
        <div ng-show="displayWorld()">
            <label>World ID</label>
            <input ng-model="world" class="form-control" type="text" />
        </div>
        <div ng-show="displayMap()">
            <label>Map ID</label>
            <input ng-model="map" class="form-control" type="text" />
        </div>
        <div ng-show="displayEvent()">
            <label>Event ID</label>
            <input ng-model="event" class="form-control" type="text" />
        </div>
        <div ng-show="displayMatch()">
            <label>Match ID</label>
            <input ng-model="match" class="form-control" type="text" />
        </div>
        <div ng-show="displayItem()">
            <label>Item ID</label>
            <input ng-model="item" class="form-control" type="text" />
        </div>
        <div ng-show="displayLang()">
            <label>Language</label>
            <select ng-model="language" class="form-control">
                <option selected="selected" value="en">English</option>
                <option value="es">Espa&ntilde;ol</option>
                <option value="fr">Fran&ccedil;ais</option>
                <option value="de">Deutsch</option>
            </select>
        </div>
        <button class="btn btn-primary" ng-click="submitAPIRequest()">Submit</button>


        <div id="url" ng-show="APIurl"><pre>{{APIurl}}</pre></div>

        <div id="result" ng-show="results"><pre>{{results}}</pre></div>
    </div>
    <script src="static/lib/jquery/dist/jquery.min.js"></script>
    <script src="static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/lib/angular/angular.min.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/controllers.js"></script>
    <script src="static/js/services.js"></script>
</body>

</html>
