li {
    line-height: 40px;
}

#result, #url {
    font-family: monospace;
    background-color: #f5f5f5;
}

.content {
    margin-top: 20px;
}

.nav li {
    font-size: 16px;
}
.navbar-brand {
    padding: 5px 5px;
}